# Jupyter
**/.ipynb_checkpoints/
*.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Данные и логи
*.csv
*.log
*.tmp
chatbot/*.txt

# Конфиги и секреты
.env
.secrets
pytorch_chatbot/movie-corpus/utterances.jsonl
pytorch_chatbot/movie-corpus/utterances.jsonl
